@model Teacher
@{
    ViewData["Title"] = "Delete";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Model.FullName)</h4>
                        <p>
                            @Model.Proffesion
                        </p>
                        <p>
                            @*@Html.Raw(Model.Description)*@
                        </p>
                        <img style="width:450px ;margin-bottom:40px" src="~/assets/img/teacher/@Model.MainImage" />
                        <p style="color:red">
                            Are you sure to delete?
                        </p>
                    </div>
                    <a style="width:300px ;text-decoration:none" asp-action="Index" asp-controller="Teacher"
                       class="btn btn btn-outline-dark " type="button"> Cancel</a>
                    <form method="post" asp-action="Delete" asp-controller="Teacher" asp-route-id="@Model.Id">
                        <button style="width:300px" type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

